*{
    padding: 0;
    margin: 0;
    list-style:none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-image: url(./tmb_347971_445690\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
.bg-form {
    padding: 15px;
    background-color: transparent;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600px;
    line-height: 26px;
    text-align: center;
    color: white;
    border: none;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.3s;
}
.bg-form:hover{
    color: #389bcc;
    background-color: transparent;
    border-color:#389bcc;
}
.form {
    height: 350px;
    width: 540px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px;
    background-color: transparent;
    border-radius:10px;
    margin: 200px auto;
}
.form_input {
    padding: 15px 10px 15px 32px;
    border: 1px solid transparent;
    border-radius: 5px;
    background: transparent;
    color: aliceblue;
}
.form_input:active{
    
}
.succes {
    font-size: 11px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    color: rgb(76, 73, 73);
}
.disp{
    display: none;
}