*{
    padding: 0;
    margin: 0;
    list-style:none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-image: url(./bmw-m5-staraya-bmv-angelskie\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
 .bg-form {
    padding: 15px;
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600px;
    line-height: 26px;
    text-align: center;
    color: white;
    border: none;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.3s;
}
.bg-form:hover{
    color: #389bcc;
    border-color:#389bcc;
    background: #ffffff12;
} 
.mess{
    height: 200px;
}
/* ----------------------------- */
 .form {
    height: 350px;
    width: 540px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px;
    background-color:#00000070;
    border-radius:10px;
    margin: 200px auto;
    color: white;
  } 
  .form_input {
    color: white;
    font-family: 'Courier New', Courier, monospace;
  padding: 15px 10px 15px 32px;
  border: 1px solid transparent;
  border-radius: 5px;
  background: #ffffff12;

}
 .succes {
    font-size: 11px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
}
.disp{
    display: none;
}

/* ----------------------------- */

/* ----------------------------- */


/* .form {
    width: 250px;
    height: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background: linear-gradient(to bottom, #0077be, #3b8df2);
    border-radius: 10px;
    overflow: hidden;
    perspective: 1000px;
    transform-style: preserve-3d;
    transform: rotateX(-10deg);
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    animation: form-animation 0.5s ease-in-out;
  }
  @keyframes form-animation {
    from {
      transform: rotateX(-30deg);
      opacity: 0;
    }
  
    to {
      transform: rotateX(0deg);
      opacity: 1;
    }
  } */

/* .form_input {
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    color: rgb(255, 255, 255);
    border: 2px solid #3b8df2;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  .form_input::placeholder {
    color: #fff;
  }
  .form_input:hover,
  .form_input:focus {
    border-color: #3b8df2;
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05) rotateY(20deg);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    outline: none;
  } */
/* ----------------------------- */

/* .succes {
    font-size: 11px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
}
.disp{
    display: none;
}
.bg-form {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3b8df2;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-10deg);
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  
  .bg-form:hover {
    background-color: #0077be;
    font-size: 17px;
    transform: scale(1.05) rotateY(20deg) rotateX(10deg);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  } */